# API settings
PORT=3000
SECRET_KEY=SECRET_KEY
API_SECRET_KEY=API_SECRET_KEY

# MongoDB
DATABASE_URL=mongodb://localhost/
DATABASE_NAME=heizungssteuerung

# Frontend Auth
JWT_WEB_TOKEN_SECRET=JWT_WEB_TOKEN_SECRET

# Fritzbox 
FRITZ_USERNAME=admin
FRITZ_PASSWORD=???

# NextCloud calender
CALENDAR_DOMAIN=https://cloud.mi.hdm-stuttgart.de,
CALENDAR_USERNAME=hdm-abbreviation,
CALENDAR_PASSWORD=XXXX
CALENDAR_NAME_HEIZUNGSSTEUERUNG=Heizungssteuerung