PORT=3000
DATABASE_URL=mongodb://localhost/mydatabase
SECRET_KEY=SECRET_KEY
API_SECRET_KEY=API_SECRET_KEY
JWT_WEB_TOKEN_SECRET=JWT_WEB_TOKEN_SECRET
FRITZ_USERNAME=admin
FRITZ_PASSWORD=???
INVITATION_CODE=INVITATION_CODE
CALENDAR_REGEX=CALENDAR_REGEX