// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(210 10% 14%),
    200: hsl(212 9% 22%),
    300: hsl(210 8% 31%),
    400: hsl(208 6% 55%),
    500: hsl(209 13% 83%),
  ),
  secondary: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  component: (
    100: hsl(0, 100%, 75%), 
    200: hsla(0, 100%, 75%, 0.8),
    300: hsla(0, 100%, 75%, 0.6),
    400: hsla(0, 100%, 75%, 0.4),
    500: hsla(0, 100%, 75%, 0.2), 
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
